* {
    font-family: "Proxima Nova", sans-serif;
}
body{
    margin: 0px;
}
.suites{
    background-color: lightcyan;    
}

.picture {
    background-image: url(001.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-bottom: 150px;
    padding-top: 20px;
}

header {
    display: flex;
}

.nav label {
    font-size: 34px;
    padding-left: 40px;
}

.items{
    padding-left: 320px;
}

.ilabel {
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding-left: 15px;
    text-decoration: none;
}

.ilabel:hover {
    text-decoration: underline;
}

.main {
    background: white;
    color: white;
}

h1 {
    font-size: 90px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.think {
    color: white;
    height: 300px;
    padding-bottom: 0px;
    padding-left: 70px;
}

.think p {
    line-height: 25px;
}

.visit {
    background: #2AC9E4;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    height: 45px;
    width: 110px;
}

.visit:hover {
    height: 50px;
    width: 115px;
}

.header_p {
    background: #E9F2FB;
    padding-bottom: 55px;
    padding-top: 25px;
}

h2{
    color: dodgerblue;
    text-align: center;
    font-size: 40px;
    }

.p2{
    color: dodgerblue;
    text-align: center;
    font-size: 17px;
}

.picture_gallery {
    background: #E9F2FB;
    padding-bottom: 0px;
}
    
    .flex-container{
        display: flex;
        flex-direction: row;
    }
    
    
    .flex-container > div{
        margin: 20px;
    }
    
    div.gallery{
        border: 1px solid lightcyan;
    }
    
    div.gallery:hover{
        border: 1px solid black;
    }
    
    div.gallery img.pix{
        width: 100%;
        height: auto;
    }
    
    div.description{
        color: black;
        padding: 15px;
        text-align: left;
        font-family: sans-serif;
        background-color: white;
    }
    
    .span2{
        margin: 25px;
    }
   
    img.icon{
        width: 15px;
        height: 18px;
    }

.gallery_button_div{
    height: 100px;
    padding-top: 0px;
}

.see_more {
    background: #2AC9E4;
    border: 1px #2AC9E4;
    color: white;
    cursor: pointer;
    height: 30px;
    margin-left: 630px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.see_more:hover {
    height: 40px;
}

.middle_img {
    height: 400px;
    border-bottom: 0px;
    width: 100%;
}

.why {
    border-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

.choose {
    background: #E9F2FB;
    color: black;
    height: 40px;
    margin-top: 0px;
    padding-top: 40px;
    text-align: center;
}

.white {
    background: white;
    color: black;
    display: flex;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 20px;
    text-align: center;
}

.white div {
    padding-left: 70px;
    padding-right: 70px;
}

.white button {
    font-size: 11px;
}

.more {
    border: 0;
    cursor: pointer;
    border-bottom: 2px solid blue;
}

.more:hover {
    font-size: 13px;
}

.about {
    padding-top: 130px;
    text-align: center;
}

.paragraphs {
    color: black;
    display: flex;
    justify-content: center;
}

.left_paragraph {
    padding-right: 100px;
}

/* .form {
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    padding-top: 130px;
}

.form_left{
    padding-left: 0px;
    padding-right: 330px;
}

.form_right{
    padding-right: 160px;
}

.form_header{
    font-size: 11px;
}

.form_contact{
    padding-bottom: 4px;
}

.form_address{
    padding-bottom: 1px;
}

.form_email {
    color: blue;
    cursor: pointer;
} */

.cuimg1 {
    cursor: pointer;
    height: 30px;
    width: 20px;
}

.cuimg2 {
    cursor: pointer;
    height: 30px;
    padding-left: 10px;
    width: 20px;
}

.cuimg3 {
    cursor: pointer;
    height: 30px;
    padding-left: 10px;
    width: 20px;
}

/* .form_input {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 25px;
    margin-top: 15px;
    width: 400px;
}

.form_input:active {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 25px;
    margin-top: 15px;
    width: 400px;
} */
/* }

.f_message {
    color: grey;
    font-size: 13px;
    margin-top: 15px;
}

.third_input {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 400px;
}

.form_button {
    background-color: white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 35px;
}

/* CONTAXT US SECTION */

.container {
    width: 80%;
    margin: 30px auto;
    display: flex;
}
  
.container-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.container-right {
    flex-basis: 40%;
    padding: 40px;
    justify-content: space-between;
    margin: 10px;
}

#text,
#email {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 10px;
    margin-bottom: 8px;
}

.submit {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
}

.submit:hover {
    background-color: lightgray;
    cursor: pointer;
}

.cuh2 {
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-bottom: 20px;
  }

footer {
    align-items: center;
    background: #292E32;
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;;
}

footer img{
    cursor: pointer;
    height: 20px;
    width: 15px;
}

span{
    margin: 8px;
}

@media (max-width:600px){

    body {
        
    }
    .flex-container{
        flex-direction: column;
    }

    .middle_img {
        width: 400px;
    }

    .paragraphs {
        flex-direction: column;
    }


    form {
        flex-direction: column;
    }

    .white {
        flex-direction: column;
        width: 500px;
    }

    .white div{
        /* padding-left: 200px; */
        padding-bottom: 20px;
    }
    .choose {
        width: 600px;
    }

    .container{
        flex-direction: column;
    }

    footer {
        width: 600px;
    }
}
